.home-page{
    height: 100vh;
}

.start-button{
    background-color: #FFFFFF;
    color: #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1.5px solid #D70900;
    border-radius: 5px;
    padding: 16px 22px;
    margin-top: 30px;
    width: 70vw;
    height: 54px;
}

.start-button:hover{
    cursor: pointer;
    background-color: #D70900;
    color: #FFFFFF;
}