.home-page{
    height: 100vh;
}

.start-button{
    background-color: #FFFFFF;
    color: #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1.5px solid #D70900;
    border-radius: 5px;
    padding: 16px 22px;
    margin-top: 30px;
    width: 70vw;
    height: 54px;
}

.start-button:hover{
    cursor: pointer;
    background-color: #D70900;
    color: #FFFFFF;
}

.home-page img{
    width: 136px;
    height: 161px;
    margin-bottom: 14px;
}

.deck-selection{
    background-color: #FFFFFF;
    color: #ADADAD;
    background-color: #FFFFFF;
    width: 70vw;
    height: 54px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20px ;
    margin-top: 50px;
}

ion-icon:hover{
    cursor: pointer;
}

.decks{
 flex-direction: column;
 padding: 0;
 height: auto;   
}

.decks div{
    width: 100%;
    padding: 20px;
    border: 1px solid #ADADAD;
    cursor: pointer;
}

.selecionado{
    color: #FFFFFF;
    font-size: 10px;
    margin-top: 20px;
}