@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&family=Righteous&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Recursive', sans-serif;
    background-color: #FB6B6B;
}

h1{
    font-family: 'Righteous', cursive;
    color: #FFFFFF;
    font-size: 36px;
}